// Navigation code here

.navbar {
    .flexbox(column, space-around, center);
    height: 100px;
    nav {
        a {
        .navstyle(1.5rem,none,black);
        font-size: 1.5rem;
        font-weight: bold;
        }
     
    }
}